
<div class="inner-hero category">
  <div class="container"><h1 class="hero-header">Projects</h1></div>
</div>

<div class="container" style="text-align: center; padding-top: 50px;">

  <p>Here is a list of projects that I have worked on.</p>

  <ul id="projList" class="list w-list-unstyled">
    <li class="list-item-2">
      <div>
      <a href="https://github.com/kyleadrianmonteiro/AutoCoach"><img src="https://gh-card.dev/repos/kyleadrianmonteiro/AutoCoach.svg"/></a>
      </div>
    </li>
    <li class="list-item-2">
      <div>
      <a href="https://github.com/kyleadrianmonteiro/ResumeApp"><img src="https://gh-card.dev/repos/kyleadrianmonteiro/ResumeApp.svg"/></a>
      </div>
    </li>
    <li class="list-item-2">
        <div>
        <a href="https://github.com/kyleadrianmonteiro/Jade-Bot"><img src="https://gh-card.dev/repos/kyleadrianmonteiro/Jade-Bot.svg"/></a>
        </div>
      </li>
  </ul>
</div>
