
<div
  data-collapse="tiny"
  data-animation="over-right"
  data-duration="400"
  data-ix="navbar"
  class="navbar w-nav"
  style="opacity: 1; transition: opacity 600ms ease 0s;"
>
  <a routerLink="/home" class="logo w-nav-brand">
    <div class="long-text">Kyle Monteiro</div>
  </a>
  <div style="padding-top: 10px;">
    <a routerLink="/home" class="nav-link w-nav-link" style="max-width: 728px;">
      Home
    </a>
    <a routerLink="/projects" class="nav-link w-nav-link" style="max-width: 728px;">
      Projects
    </a>
    <!-- <a routerLink="/about" class="nav-link w-nav-link" style="max-width: 728px;"
        >About Me</a
      > -->
  </div>

  <div class="w-container pull-right">
    <!-- <nav role="navigation" class="nav-menu w-nav-menu"> -->
      
      
      <a routerLink="#" class="close-x w-hidden-main w-hidden-medium w-hidden-small">
        ×
      </a>
  </div>
  <div class="w-nav-overlay" data-wf-ignore=""></div>
</div>

<div>
  <router-outlet></router-outlet>
</div>
